*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background: url("img.jpg") no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.main{
    background-color: transparent;
    width: 420px;
    padding: 20px 40px;
    border-radius: 20px;
}
.main h1{
    font-size: 25px;
    text-align: center;
}
.main .input-box{
    width: 100%;
    height: 100%;
    margin: 30px 0; 
    position: relative;  
}
.input-box input{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    font-size: 20px;
    padding: 20px 40px 20px 20px;
    color: white;
}
.input-box input::placeholder{
    color: white;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.main .remember-forgot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: white;
    margin-right: 4px;
}
.remember-forgot a{
    color:white;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.main .btn{
    height: 50px;
    width: 100%;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    font-weight: 200;
    cursor: pointer;
    outline: none;
}
.main .registration-link{
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
}
.registration-link p a{
    text-decoration: none;
    color: white;
    font-weight: 500
}
.registration-link p a:hover {
    cursor: pointer;
    text-decoration: underline;
}

